[submodule "dependencies/spl-class-loader"]
	path = dependencies/spl-class-loader
	url = git://gist.github.com/2966085.git
[submodule "dependencies/react-php"]
	path = dependencies/react-php
	url = git://github.com/davegardnerisme/react.git
