[submodule "dependencies/spl-class-loader"]
	path = dependencies/spl-class-loader
	url = git://github.com/hailocab/php-spl-class-loader.git
[submodule "dependencies/react-php"]
	path = dependencies/react-php
	url = git://github.com/davegardnerisme/react.git
